@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --speed: 480ms;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/* Login Signup and Toggle */

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 780px;
  max-width: 100%;
  min-height: 470px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
  opacity: 1;
}

.container.active .sign-in {
  transform: translateX(-100%); /* Adjust as needed */
  opacity: 0;
  z-index: 5;
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: -1;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 6;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #002e94;
  height: 100%;
  background: linear-gradient(to right, #6d7fe7d0, #4d29a1);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

/* Underline on Nav items on hover */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.7px;
  bottom: 0;
  left: 0;
  background-color: rgb(169, 169, 169);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* NavBar Login Button Styling */

.login-button,
.login-button *,
.login-button :after,
.login-button :before,
.login-button:after,
.login-button:before {
  border: 0 solid;
  box-sizing: border-box;
}
.login-button {
  background-color: #90b4ce;
  background-image: none;
  color: rgb(189, 185, 185);
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.login-button:disabled {
  cursor: default;
}

.login-button svg {
  display: block;
}
.login-button [hidden] {
  display: none;
}

.login-button {
  border-radius: 97rem;
  overflow: hidden;
  padding: 1.1rem 3.5rem;
  position: relative;
}
.login-button span {
  mix-blend-mode: difference;
}
.login-button:before {
  --tilt: 1.2rem;
  background: #cfc4c4;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: '';
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.21s ease;
  width: calc(100% + var(--tilt));
}
.login-button:hover:before {
  --progress: 100%;
}

/* Contact Us Background */
.contact-us-background {
  background: linear-gradient(to bottom, #58c791 0%, #70ce78 100%);
}

/* Contact Us box shadow */
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.send-message-button {
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 13px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.send-message-button:hover,
.send-message-button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.send-message-button:active {
  background: var(--color);
  color: #fff;
}

/* Dropdown Menu */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #0a0a0a 0%, #222 100%);
  gap: 1rem;
  border-width: 2px;
  width: 25rem;
  position: absolute;
  border-radius: 20px;
  top: 105%;
  padding: 1rem 2rem;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease-in-out;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease-in-out;
}

@media only screen and (max-width: 980px) and (min-width: 693px) {
  .dropdown-menu {
    right: 10px;
    width: 20rem;
    padding: 0.4rem 0.6rem;
  }
}

@media only screen and (max-width: 693px) and (min-width: 497px) {
  .dropdown-menu {
    width: 20rem;
  }
}

@media only screen and (max-width: 497px) {
  .dropdown-menu {
    right: 10px;
    width: 16rem;
    padding: 0.4rem 0.6rem;
  }
}

/* About Us Styling */
.about-us-small-heading {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: rgb(197, 34, 34);
  letter-spacing: 0.2rem;
}

.about-us-main-heading {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

.about-us-description {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.15rem;
}

.about-us-left-div {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
